#bigimages {
    width: 100%;
    div {
        width: 1349px;
        margin: 0 auto;
        div {
            width: 1140px;
            height: 365px;
            margin: 20px auto;
        }
    }
}