#logo {
    width: 100%;
    height: 247px;
    background-color: #f9f9f9;
    // padding: 50px;
    .center {
        width: 1140px;
        height: 242px;
        margin: 0 auto;
        div:nth-child(1) {
            width: 470px;
            height: 77px;
            text-align: center;
            padding-top: 50px;
            img {
                width: 70px;
                height: 70px;
                margin: 0 auto;
            }
            span {
                display: block;
                padding: 20px 0;
                color: #767676;
                font-size: 14px;
            }
            p {
                text-align: center;
                margin: 0;
                word-spacing: 8px;
                font-size: 14px;
                color: #767676;
                font-weight: bold;
            }
        }
        div:nth-child(2) {
            width: 500px;
            height: 123px;
            float: right;
            img {
                width: 240px;
                height: 113px;
                text-align: center;
                margin-top: -60px;
            }
        }
    }
}