@import "sahre";

.bgurl {
    width: 100%;
    height: 758px;
    background: url(../img/zhucebg.jpg) no-repeat center center;
    z-index: 9;
}

.details {
    width: 1120px;
    height: auto;
    margin: 0 auto;

    overflow: hidden;
    padding: 50px 0;


}

.details .left {

    float: left;
    width: 538px;
    height: 675.5px;
     
    background: #f0f0f0;
    position: relative;
    .bg{ width: 538px;
        height: 538px;
        background: white;
        position: relative;
    }
   
    .movebox{
        
            background: orange;
            opacity: .3;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
           
    }
    .big{
       
        /* border: 1px solid black; */
        display: none;
        float: left;
        width: 650px;
        height: 650px;
        position: absolute;
        top: 0;
        left: 537px;
        overflow: hidden;
        img{
            width: 1000px;
            height:  1000px;
          
            position: absolute;
            z-index: 9;
        }
        
    }

    .bgul {

        padding-left: 0;
        width: 240px;
        height: 66px;
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin:0 0 0 -120px;
        z-index: 9;

        li {
            width: 54px;
            height: 54px;
            padding: 2px;
            float: left;

            border: 1px solid #d8dad9;
            margin-left: -1px;
            cursor: pointer;
            position: relative;
            img{
                width: 54px;
                height: 54px;
            }
        }
    }
}

.details .right {
    width: 542px;
    height: 675.5px;
    float: right;
    font-family: "微软雅黑", "宋体";
    background: #fff;
    padding: 0 20px;


    .tetle {

        height: 52px;
        width: inherit;
        overflow: hidden;
        padding-left: 0px;
        padding-top: 4px;
        padding-bottom: 0px;

        h3 {
            margin: 0;
            height: 42px;
            padding-top: 10px;
            line-height: 42px;
            font-size: 24px;
            display: block;
            float: left;
            font-weight: normal;
        }
    }

    .explain {
        line-height: 18px;
        padding-bottom: 10px;
        color: #555555;
        font-size: 15px;
    }

    .moneybg {
        height: 102px;
        width: inherit;
        background: url(../img/moneybg.jpg) 0px 0px no-repeat;
        margin-top: 6px;

    }

    .money {
        margin-left: 20px;
        padding-top: 20px;
        width: 542px;
        overflow: hidden;

        span,
        font,
        div {
            display: block;
            float: left;
            line-height: 20px;

        }

        span {
            padding: 0 10px;
            font-size: 14px;
        }

        font {
            font-size: 14px;
            color: red;
        }

        div {
            color: red;
            font-size: 20px;
        }
    }

    .money:last-child {
        font {
            text-decoration: line-through;
            color: black;
        }

        div {
            font-size: 16px;
            text-decoration: line-through;
            color: black;
        }
    }

    .comment {
        padding-left: 0;
        height: 78px;
        border-bottom: 1px #cccccc dotted;
        padding-top: 12px;
        line-height: 22px;
        color: #555;

        li {
            height: 68px;
            width: 170px;
            float: left;
            border-right: 1px #e8e7e7 solid;
            text-align: center;

            span {
                display: block;
            }
        }

    }

    .select {
        .clearf {
            width: 542px;

            zoom: 1;
            overflow: auto;

            ul {
                padding-left: 0;
                margin: 0;
                float: left;
            }
        }

        .size {
            width: 62px;
            color: #555;
            text-indent: 20px;
            display: block;
            float: left;
            padding-top: 25px;

        }

        .select-color ul {


            li {
                float: left;
            }

            a {
                border: 2px solid #a01f23;
                display: block;
                float: left;
                margin-bottom: 0x;
                height: 56px;
                width: 56px;
                overflow: hidden;

                background: #FFF;
                position: relative;
                cursor: pointer;

            }

            img {
                width: 56px;
                height: 56px;
            }
        }

        .select-number {
            span {
                width: 62px;
                color: #555;
                text-indent: 20px;
                display: block;
                float: left;
                padding: 30px 0;


            }


        }

        .select-number ul {
            padding-top: 20px;


            li {
                float: left;

            }

            a {
                display: block;
                float: left;
                color: black;
                padding: 10px;
                ;
                overflow: hidden;
                text-align: center;
                background: #FFF;
                position: relative;
                cursor: pointer;
                border: 2px solid #a01f23;
            }
        }
    }

    .number {
        padding-top: 12px;
        width: 542px;
        span {
            float: left;
            color: #555;
            display: block;


        }

       .amount {
            width: 62px;
            color: #555;
            text-indent: 20px;
            display: block;
            float: left;
            padding-top: 5px;
        }
        input{
            height: 24px;
            line-height: 24px;
            width: 48px;
            font-size: 14px;
            text-align: center;
            border: 0px;
            border-top: 1px solid #cacaca;
            border-bottom: 1px solid #cacaca;
            margin-left: 0px;
            margin-right: 0px;
          
            vertical-align: middle;
        }

       
    }
    .buttom-box{
        padding-left: 63px;
        padding-top: 12px;
        width: 500px;
        margin-top: 5px;
        overflow: hidden;
        span{
            display: block;
            float: left;
            a{
                width: 158px;
                height: 48px;
                line-height: 48px;
                color: #FFF;
                display: block;
                background: #a01f23;
                font-size: 18px;
                text-align: center;
            
            }
        
        }
        span:nth-child(1) a:hover{
            background: #b6292e;
        }
        span:last-child{
          margin-left: 20px;
            
        }
        span:last-child a{
            width: 134px;
            padding-left: 35px;
            height: 48px;
            line-height: 48px;
            color: #a01f23;
            display: block;
            background: url(../img/gouwuchebg.jpg) no-repeat #FCC;
            font-size: 18px;
            text-align: center;
            
        }
    }
    .approve{
        margin: 0;
        padding-top: 12px;
        width: 500px;
        color: #a01f23;
        padding: 10px 0 10px 63px;
    }
    .dnf-collect{
        border-top: 1px solid #ccc;
        margin: 0;
        width: 500px;
        color: #a01f23;
       
        padding: 14px 0 10px 63px;
        a{
            color: #666;
        }

    }
}





//              回到顶部                 //

.Tright {
    width: 46px;
    height: 321px;
    top: 50%;
    margin-top: -160px;
    right: 0px;
    background: #282725;
    position: fixed;

    .Tul {
        width: 46px;
        height: 321px;
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            width: 46px;
    
        }
    
        li:nth-child(1) {
            height: 46px;
            background: url(../img/right.png) no-repeat -6px -116px;
            border-bottom: 1px solid #31302f;
    
        }
    
        li:nth-child(2) {
            height: 46px;
            background: url(../img/right.png) -5px -164px no-repeat #202020;
    
    
        }
    
    
    
        li:nth-child(3) a {
            width: 46px;
            height: 130px;
            background: url(../img/right.png) -6px -212px no-repeat #a01f23;
            display: block;
            position: relative;
    
            span {
                position: absolute;
                height: 20px;
                width: 20px;
    
                bottom: 16px;
                left: 12px;
                font-size: 16px;
                font-weight: bolder;
                text-align: center;
                color: #a01f23;
            }
    
        }


        li:nth-child(4){
            height: 98px;
            background: url(../img/right.png) -72px -348px no-repeat #202020;
        }

    }

   

}

.Tright-top{
    width: 46px;
    height: 46px;
    bottom: 0px;
    margin-top: -160px;
    right: 0px;
    background: url(../img/right.png) -72px -444px no-repeat #202020;
    position: fixed;    
}

//              回到顶部               //







