@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.head {
  width: 100%;
  overflow: hidden;
}

.top {
  width: 100%;
  height: 34px;
  background: url(../img/top.jpg);
}

.top .top-middle {
  width: 1260px;
  height: 34px;
  margin: 0 auto;
}

.top .top-middle .top-left {
  float: left;
}

.top .top-middle .top-left a {
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  color: #666;
  text-decoration: none;
}

.top .top-middle .top-left a:hover {
  color: black;
  text-decoration: underline;
}

.top .top-middle .top-right {
  float: right;
}

.top .top-middle .top-right a {
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  color: #666;
  text-decoration: none;
  padding-right: 10px;
}

.top .top-middle .top-right a:hover {
  color: red;
  text-decoration: underline;
}

.top .top-middle .top-right a:nth-child(1),
.top .top-middle .top-right a:nth-child(2) {
  color: red;
}

.top .top-middle .top-right a:last-child {
  padding-left: 20px;
  background: url(../img/spirit.png) -10px -76px no-repeat;
}

.logo {
  width: 100%;
  height: 130px;
  background: url(../img/topbg.jpg) center no-repeat;
}

.logo .logbar {
  width: 1364px;
  height: 130px;
  margin: 0 auto;
}

.logo .logbar .dnflogo {
  margin-left: 100px;
  display: block;
  width: 258px;
  height: 130px;
  float: left;
  background: url(../img/dnflogo.png) no-repeat left center;
}

.logo .search {
  height: 46px;
  float: left;
  margin-left: 120px;
  margin-top: 38px;
}

.logo .search .soso {
  width: 322px;
  overflow: hidden;
}

.logo .search .soso input:nth-child(1) {
  padding: 2px 4px 2px 4px;
  border: 1px solid #e00011;
  font-size: 14px;
  width: 260px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  vertical-align: middle;
  margin: 0px;
  border-right: 0px;
  background: none;
}

.logo .search .soso input:nth-child(2) {
  width: 42px;
  height: 38px;
  background: url(../img/spirit2.png) no-repeat -10px -18px #e00011;
  vertical-align: middle;
  color: #797979;
  margin: -5px;
  padding: 0px;
  border: 0px;
  cursor: pointer;
}

.logo .search .soso a {
  display: block;
  float: left;
  color: #f00;
  padding-right: 20px;
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 550;
}

.logo .search .soso a:hover {
  text-decoration: underline;
}

.menu {
  width: 100%;
  height: 60px;
  background: #bf040f;
}

.menu .menubar {
  width: 1120px;
  height: 60px;
  margin: 0 auto;
  padding-left: 20px;
}

.menu .menubar li {
  float: left;
  display: block;
  line-height: 60px;
  float: left;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
  padding: 0px 30px;
  background: url(../img/xian.png) right center no-repeat;
}

.menu .menubar li a {
  color: #fff;
}

.menu .menubar li a:hover {
  color: #fffb80;
  text-decoration: underline;
}

.menu .menubar li:nth-child(1) {
  background: url(../img/spirit2.png) -20px -52px no-repeat;
}

.bottom {
  width: 100%;
  background: #f4f4f4;
  padding-top: 50px;
}

.bottom .bottom-logo {
  width: 1120px;
  height: auto;
  margin: 0 auto;
}

.bottom .bottom-fuwu {
  margin-top: 50px;
  width: 100%;
  height: 80px;
  background: #dedede;
}

.bottom .bottom-fuwu ul {
  width: 960px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
}

.bottom .bottom-fuwu li {
  padding: 0 80px;
  float: left;
  height: 80px;
}

.bottom .bottom-fuwu li p {
  margin-top: -10px;
  font-size: 16px;
  color: #7a7575;
}

.bottom .bottom-fuwu li:nth-child(1) {
  background: url(../img/bottombg.png) no-repeat 0 -246px;
}

.bottom .bottom-fuwu li:nth-child(2) {
  background: url(../img/bottombg.png) no-repeat 0 0;
}

.bottom .bottom-fuwu li:nth-child(3) {
  background: url(../img/bottombg.png) no-repeat 0 -79px;
}

.bottom .bottom-help {
  padding-top: 40px;
  background: #fff;
}

.bottom .bottom-help .bottom-bar {
  width: 1120px;
  height: 180px;
  margin: 0 auto;
}

.bottom .bottom-help ul {
  width: 1120px;
  height: 180px;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.bottom .bottom-help li {
  padding: 0 2px;
  width: 186px;
  float: left;
}

.bottom .bottom-help li a {
  display: block;
  color: #666;
  font-size: 14px;
  padding-top: 10px;
}

.bottom .bottom-help li a:hover {
  text-decoration: underline;
}

.bottom .bottom-help li p {
  font-size: 14px;
  color: #666;
  margin: 0;
  padding-top: 10px;
}

.bottom .bottom-help .size {
  color: black;
  font-size: 16px;
}

.bottom .bottom-help li:last-child {
  width: 210px;
  height: 150px;
  border-left: 1px solid #dedede;
  margin-left: 28px;
  position: relative;
}

.bottom .bottom-help li:last-child div {
  position: absolute;
  width: 126px;
  height: 30px;
  padding-top: 124px;
  font-size: 14px;
  text-align: center;
  color: #000;
  background: url(../img/bottombg.png) -9px -416px no-repeat;
  left: 30px;
  top: 0px;
}

.bottom .bottom-help .bottom-feader {
  width: 1120px;
  height: 130px;
  margin: 0 auto;
}

.bottom .bottom-help .bottom-feader div {
  width: 518px;
  padding-left: 248px;
  padding-top: 30px;
  line-height: 18px;
  color: #333;
  margin: 0px auto;
  background: url(../img/bottombg.png) -8px -308px no-repeat;
}

.bgurl {
  width: 100%;
  height: 758px;
  background: url(../img/zhucebg.jpg) no-repeat center center;
  z-index: 9;
}

.details {
  width: 1120px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0;
}

.details .left {
  float: left;
  width: 538px;
  height: 675.5px;
  background: #f0f0f0;
  position: relative;
}

.details .left .bg {
  width: 538px;
  height: 538px;
  background: white;
  position: relative;
}

.details .left .movebox {
  background: orange;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.details .left .big {
  /* border: 1px solid black; */
  display: none;
  float: left;
  width: 650px;
  height: 650px;
  position: absolute;
  top: 0;
  left: 537px;
  overflow: hidden;
}

.details .left .big img {
  width: 1000px;
  height: 1000px;
  position: absolute;
  z-index: 9;
}

.details .left .bgul {
  padding-left: 0;
  width: 240px;
  height: 66px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin: 0 0 0 -120px;
  z-index: 9;
}

.details .left .bgul li {
  width: 54px;
  height: 54px;
  padding: 2px;
  float: left;
  border: 1px solid #d8dad9;
  margin-left: -1px;
  cursor: pointer;
  position: relative;
}

.details .left .bgul li img {
  width: 54px;
  height: 54px;
}

.details .right {
  width: 542px;
  height: 675.5px;
  float: right;
  font-family: "微软雅黑", "宋体";
  background: #fff;
  padding: 0 20px;
}

.details .right .tetle {
  height: 52px;
  width: inherit;
  overflow: hidden;
  padding-left: 0px;
  padding-top: 4px;
  padding-bottom: 0px;
}

.details .right .tetle h3 {
  margin: 0;
  height: 42px;
  padding-top: 10px;
  line-height: 42px;
  font-size: 24px;
  display: block;
  float: left;
  font-weight: normal;
}

.details .right .explain {
  line-height: 18px;
  padding-bottom: 10px;
  color: #555555;
  font-size: 15px;
}

.details .right .moneybg {
  height: 102px;
  width: inherit;
  background: url(../img/moneybg.jpg) 0px 0px no-repeat;
  margin-top: 6px;
}

.details .right .money {
  margin-left: 20px;
  padding-top: 20px;
  width: 542px;
  overflow: hidden;
}

.details .right .money span,
.details .right .money font,
.details .right .money div {
  display: block;
  float: left;
  line-height: 20px;
}

.details .right .money span {
  padding: 0 10px;
  font-size: 14px;
}

.details .right .money font {
  font-size: 14px;
  color: red;
}

.details .right .money div {
  color: red;
  font-size: 20px;
}

.details .right .money:last-child font {
  text-decoration: line-through;
  color: black;
}

.details .right .money:last-child div {
  font-size: 16px;
  text-decoration: line-through;
  color: black;
}

.details .right .comment {
  padding-left: 0;
  height: 78px;
  border-bottom: 1px #cccccc dotted;
  padding-top: 12px;
  line-height: 22px;
  color: #555;
}

.details .right .comment li {
  height: 68px;
  width: 170px;
  float: left;
  border-right: 1px #e8e7e7 solid;
  text-align: center;
}

.details .right .comment li span {
  display: block;
}

.details .right .select .clearf {
  width: 542px;
  zoom: 1;
  overflow: auto;
}

.details .right .select .clearf ul {
  padding-left: 0;
  margin: 0;
  float: left;
}

.details .right .select .size {
  width: 62px;
  color: #555;
  text-indent: 20px;
  display: block;
  float: left;
  padding-top: 25px;
}

.details .right .select .select-color ul li {
  float: left;
}

.details .right .select .select-color ul a {
  border: 2px solid #a01f23;
  display: block;
  float: left;
  margin-bottom: 0x;
  height: 56px;
  width: 56px;
  overflow: hidden;
  background: #FFF;
  position: relative;
  cursor: pointer;
}

.details .right .select .select-color ul img {
  width: 56px;
  height: 56px;
}

.details .right .select .select-number span {
  width: 62px;
  color: #555;
  text-indent: 20px;
  display: block;
  float: left;
  padding: 30px 0;
}

.details .right .select .select-number ul {
  padding-top: 20px;
}

.details .right .select .select-number ul li {
  float: left;
}

.details .right .select .select-number ul a {
  display: block;
  float: left;
  color: black;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  background: #FFF;
  position: relative;
  cursor: pointer;
  border: 2px solid #a01f23;
}

.details .right .number {
  padding-top: 12px;
  width: 542px;
}

.details .right .number span {
  float: left;
  color: #555;
  display: block;
}

.details .right .number .amount {
  width: 62px;
  color: #555;
  text-indent: 20px;
  display: block;
  float: left;
  padding-top: 5px;
}

.details .right .number input {
  height: 24px;
  line-height: 24px;
  width: 48px;
  font-size: 14px;
  text-align: center;
  border: 0px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  margin-left: 0px;
  margin-right: 0px;
  vertical-align: middle;
}

.details .right .buttom-box {
  padding-left: 63px;
  padding-top: 12px;
  width: 500px;
  margin-top: 5px;
  overflow: hidden;
}

.details .right .buttom-box span {
  display: block;
  float: left;
}

.details .right .buttom-box span a {
  width: 158px;
  height: 48px;
  line-height: 48px;
  color: #FFF;
  display: block;
  background: #a01f23;
  font-size: 18px;
  text-align: center;
}

.details .right .buttom-box span:nth-child(1) a:hover {
  background: #b6292e;
}

.details .right .buttom-box span:last-child {
  margin-left: 20px;
}

.details .right .buttom-box span:last-child a {
  width: 134px;
  padding-left: 35px;
  height: 48px;
  line-height: 48px;
  color: #a01f23;
  display: block;
  background: url(../img/gouwuchebg.jpg) no-repeat #FCC;
  font-size: 18px;
  text-align: center;
}

.details .right .approve {
  margin: 0;
  padding-top: 12px;
  width: 500px;
  color: #a01f23;
  padding: 10px 0 10px 63px;
}

.details .right .dnf-collect {
  border-top: 1px solid #ccc;
  margin: 0;
  width: 500px;
  color: #a01f23;
  padding: 14px 0 10px 63px;
}

.details .right .dnf-collect a {
  color: #666;
}

.Tright {
  width: 46px;
  height: 321px;
  top: 50%;
  margin-top: -160px;
  right: 0px;
  background: #282725;
  position: fixed;
}

.Tright .Tul {
  width: 46px;
  height: 321px;
  padding: 0;
  margin: 0;
}

.Tright .Tul li {
  list-style: none;
  width: 46px;
}

.Tright .Tul li:nth-child(1) {
  height: 46px;
  background: url(../img/right.png) no-repeat -6px -116px;
  border-bottom: 1px solid #31302f;
}

.Tright .Tul li:nth-child(2) {
  height: 46px;
  background: url(../img/right.png) -5px -164px no-repeat #202020;
}

.Tright .Tul li:nth-child(3) a {
  width: 46px;
  height: 130px;
  background: url(../img/right.png) -6px -212px no-repeat #a01f23;
  display: block;
  position: relative;
}

.Tright .Tul li:nth-child(3) a span {
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 16px;
  left: 12px;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  color: #a01f23;
}

.Tright .Tul li:nth-child(4) {
  height: 98px;
  background: url(../img/right.png) -72px -348px no-repeat #202020;
}

.Tright-top {
  width: 46px;
  height: 46px;
  bottom: 0px;
  margin-top: -160px;
  right: 0px;
  background: url(../img/right.png) -72px -444px no-repeat #202020;
  position: fixed;
}
