.bottom {
  width: 100%;
  background: #f4f4f4;
  padding-top: 50px;
}

.bottom .bottom-logo {
  width: 1120px;
  height: auto;
  margin: 0 auto;
}

.bottom .bottom-fuwu {
  width: 100%;
  height: 80px;
  background: #dedede;
}

.bottom .bottom-fuwu ul {
  width: 960px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
}

.bottom .bottom-fuwu li {
  padding: 0 80px;
  float: left;
  height: 80px;
}

.bottom .bottom-fuwu li p {
  margin-top: -10px;
  font-size: 16px;
  color: #7a7575;
}

.bottom .bottom-fuwu li:nth-child(1) {
  background: url(../img/bottombg.png) no-repeat 0 -246px;
}

.bottom .bottom-fuwu li:nth-child(2) {
  background: url(../img/bottombg.png) no-repeat 0 0;
}

.bottom .bottom-fuwu li:nth-child(3) {
  background: url(../img/bottombg.png) no-repeat 0 -79px;
}

.bottom .bottom-help {
  padding-top: 40px;
  background: #fff;
}

.bottom .bottom-help .bottom-bar {
  width: 1120px;
  height: 180px;
  margin: 0 auto;
}

.bottom .bottom-help ul {
  width: 1120px;
  height: 180px;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.bottom .bottom-help li {
  padding: 0 2px;
  width: 186px;
  float: left;
}

.bottom .bottom-help li a {
  display: block;
  color: #666;
  font-size: 14px;
  padding-top: 10px;
}

.bottom .bottom-help li a:hover {
  text-decoration: underline;
}

.bottom .bottom-help li p {
  font-size: 14px;
  color: #666;
  margin: 0;
  padding-top: 10px;
}

.bottom .bottom-help .size {
  color: black;
  font-size: 16px;
}

.bottom .bottom-help li:last-child {
  width: 210px;
  height: 150px;
  border-left: 1px solid #dedede;
  margin-left: 28px;
  position: relative;
}

.bottom .bottom-help li:last-child div {
  position: absolute;
  width: 126px;
  height: 30px;
  padding-top: 124px;
  font-size: 14px;
  text-align: center;
  color: #000;
  background: url(../img/bottombg.png) -9px -416px no-repeat;
  left: 30px;
  top: 0px;
}

.bottom .bottom-help .bottom-feader {
  width: 1120px;
  height: 130px;
  margin: 0 auto;
}

.bottom .bottom-help .bottom-feader div {
  width: 518px;
  padding-left: 248px;
  padding-top: 30px;
  line-height: 18px;
  color: #333;
  margin: 0px auto;
  background: url(../img/bottombg.png) -8px -308px no-repeat;
}
