@charset "utf-8";
@import "compass/reset";
$height:40px;
$top_fsize:12px;
a {
    text-decoration: none;
}

@import "top";
@import "none";
@import "tips";
@import "topimages";
@import "bigimages";
@import "twoimages";
@import "tab";
@import "best";
@import "logo";
@import "footer";
@import "louti";