@import 'sahre';




// 轮播图开始  //
.poster {
    width: 100%;
    height: 420px;
    overflow: hidden;
    background: url(../img/poster.jpg)no-repeat center center;

    .posterbar {
        width: 1260px;
        height: 420px;
        margin: 0 auto;


    }
}

.list-left {
    float: left;
    height: 420px;
    margin-left: 60px;

    ul {
        padding: 0;
        margin: 0;
        width: 200px;


    }

    li {
        overflow: hidden;
        background: #ef5c27;
        border-top: 1px solid #e3450c;
        padding-left: 16px;
        height: 84px;
        padding-top: 20px;

        padding-bottom: 0px;
        margin-bottom: 0px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        z-index: 10;

        a:hover {
            text-decoration: underline;

        }


    }

    li:nth-child(1):hover {


        background: #e33a19;
    }

    li:nth-child(2):hover {
        width: 182px;
        min-width: 286px;
        overflow: inherit;
        background: #e33a19;
    }

    li:nth-child(3):hover {

        min-width: 382px;
        overflow: inherit;
        background: #e33a19;
    }

    li:nth-child(1) h3 {
        background: url(../img/ulif.png)no-repeat -7px -105px;

    }

    li:nth-child(2) h3 {
        background: url(../img/ulif.png)no-repeat -5px -62px;

    }

    li:nth-child(3) h3 {
        background: url(../img/ulif.png)no-repeat -7px -16px;

    }

    li:last-child a {
        display: block;
        background: #fff;
        width: 164px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        text-indent: 10px;
        font-size: 18px;
        font-weight: bolder;
        position: relative;
        color: #ec4828;
        margin-top: 15px;
    }

    li:last-child a:hover {
        text-decoration: none;
        background: #fffb80;
    }

    h3,
    a {
        color: #fff;
    }

    h3 {
        font-weight: 600;
        font-size: 16px;
        margin: 0;
        text-indent: 20px;
    }

    p {

        font-size: 14px;
        padding-top: 10px;

        a {
            padding: 8px;
        }

    }
}

.banner {
    float: left;
    width:740px;
    height: 420px;
    background-color: #f4e5c7;
    position: relative;
    overflow: hidden;
}

.banner ul {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0;
    margin: 0;
}

.banner ul li {
  
    float: left;
}

.banner ul li.show {
    /* 显示 */
    opacity: 1;
    filter: alpha(opacity=100);
}

.banner ul li img {
    width: 740px;
    height: 420px;
    display: block;
}

.banner ol {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -75px;
}

.banner ol li {
    float: left;
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 5px;
    text-indent: -999em;
    cursor: pointer;
}

.banner ol li.active {
    background: orange;
}

#left,
#right {
    position: absolute;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    top: 60%;
    margin-top: -60px;
    display: none;
}

#left {
    left: 10px;
}

#right {
    right: 10px;
}



.list-right {
    float: right;
    width: 190px;
    height: 420px;
    margin-right: 70px;
    background: url(../img/notice-bj.png)no-repeat;

    div {
        width: 100%;
        height: 173px;
        padding: 5px 10px 0px 12px;

        a {
            line-height: 24px;
            height: 24px;
            overflow: hidden;
            color: #333;
            display: block;
        }

        .ontice-a {
            color: #bf040f;
            font-weight: 600;
        }

        a:hover {
            text-decoration: underline;
        }


    }
}

// 轮播图结束  //



//3个广告位开始//
.DNF {
    width: 1120PX;
    height: 190px;
    margin: 30px auto 0 auto;
    padding-bottom: 10px;
    border-bottom: 1px solid orangered;

    .conter {
        float: left;

        div {
            float: left;
            padding: 50px 20px 0 0;

            a {
                font-size: 14px;
            }
        }

        a {
            display: block;
            float: left;
        }

        div a,
        h1 {

            color: #F6541F;
        }

        div a:hover {
            color: rgb(250, 0, 0);
        }

        .bar-gg img {

            height: 200px;
            display: block;

        }
    }

    .middle {
        margin-left: 150px;
    }

    .right {
        float: right;
    }
}


//3个广告位结束//


// 大鸟开始  //
.daniao {
    width: 100%;
    height: 600px;

    a {
        display: block;
        width: 1120px;
        height: 600px;
        margin: 0 auto;
    }
}



//  大鸟结束  //


//      商品开始         //

.Fshop {
    width: 1120px;

    margin: 0 auto;

    .Fshop-ul {
        width: 100%;
    }

    .Fshop-li {
        padding-right: 8px;
        float: left;

        a {
            display: block;
            font-size: 16px;
            color: black;
            text-align: center;

            img {
                width: 272px;
                height: 290px;
            }
        }

        a:hover {
            text-decoration: underline;
        }

        p {
            color: orangered;
            font-size: 14px;
            text-align: center;

            .size {
                color: black;
            }
        }
    }
}

//      商品结束        //



//    商品抢购开始      //

.scare-buying {
    overflow: hidden;
    width: 1120px;
    height: 452px;
    margin: 0 auto;
    padding-top: 50px;

    ul {
        width: 100%;
    }

    li:nth-child(2n-1) {
        float: left;

        .left {

            float: left;
        }

        div {
            padding-top: 150px;
            padding-left: 50px;
        }
    }

    li:nth-child(2n) {
        float: right;

        .right {
            float: left;
        }

        div {
            padding-top: 150px;
            padding-right: 50px;


        }
    }

    p {
        font-weight: 600;
        font-size: 16px;
        color: rgb(71, 68, 68);
    }

    span {
        display: block;
        padding-top: 100px;

        a {
            display: block;
            background: orangered;
            width: 164px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            text-indent: 10px;
            font-size: 18px;
            font-weight: bolder;
            position: relative;
            color: rgb(228, 220, 220);
            margin-top: 15px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    div {
        float: left;
    }




}




//              回到顶部                 //

.Tright {
    width: 46px;
    height: 321px;
    top: 50%;
    margin-top: -160px;
    right: 0px;
    background: #282725;
    position: fixed;

    .Tul {
        width: 46px;
        height: 321px;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            width: 46px;

        }

        li:nth-child(1) {
            height: 46px;
            background: url(../img/right.png) no-repeat -6px -116px;
            border-bottom: 1px solid #31302f;

        }

        li:nth-child(2) {
            height: 46px;
            background: url(../img/right.png) -5px -164px no-repeat #202020;


        }



        li:nth-child(3) a {
            width: 46px;
            height: 130px;
            background: url(../img/right.png) -6px -212px no-repeat #a01f23;
            display: block;
            position: relative;

            span {
                position: absolute;
                height: 20px;
                width: 20px;

                bottom: 16px;
                left: 12px;
                font-size: 16px;
                font-weight: bolder;
                text-align: center;
                color: #a01f23;
            }

        }


        li:nth-child(4) {
            height: 98px;
            background: url(../img/right.png) -72px -348px no-repeat #202020;
        }

    }



}

.Tright-top {
    width: 46px;
    height: 46px;
    bottom: 0px;
    margin-top: -160px;
    right: 0px;
    background: url(../img/right.png) -6px -444px no-repeat #202020;
    position: fixed;
    display: none;

    a {display: none;
        width: 46px;
        height: 46px;
    }
}

.Tright-top:hover{
    background: url(../img/right.png) -72px -444px no-repeat #202020;
}

//              回到顶部               //