body {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.head {
  width: 100%;
  overflow: hidden;
}

.top {
  width: 100%;
  height: 34px;
  background: url(../img/top.jpg);
}

.top .top-middle {
  width: 1260px;
  height: 34px;
  margin: 0 auto;
}

.top .top-middle .top-left {
  float: left;
}

.top .top-middle .top-left a {
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  color: #666;
  text-decoration: none;
}

.top .top-middle .top-left a:hover {
  color: black;
  text-decoration: underline;
}

.top .top-middle .top-right {
  float: right;
}

.top .top-middle .top-right a {
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  color: #666;
  text-decoration: none;
  padding-right: 10px;
}

.top .top-middle .top-right a:hover {
  color: red;
  text-decoration: underline;
}

.top .top-middle .top-right a:nth-child(1),
.top .top-middle .top-right a:nth-child(2) {
  color: red;
}

.top .top-middle .top-right a:last-child {
  padding-left: 20px;
  background: url(../img/spirit.png) -10px -76px no-repeat;
}

.logo {
  width: 100%;
  height: 130px;
  background: url(../img/topbg.jpg) center no-repeat;
}

.logo .logbar {
  width: 1364px;
  height: 130px;
  margin: 0 auto;
}

.logo .logbar .dnflogo {
  margin-left: 100px;
  display: block;
  width: 258px;
  height: 130px;
  float: left;
  background: url(../img/dnflogo.png) no-repeat left center;
}

.logo .search {
  height: 46px;
  float: left;
  margin-left: 120px;
  margin-top: 38px;
}

.logo .search .soso {
  width: 322px;
  overflow: hidden;
}

.logo .search .soso input:nth-child(1) {
  padding: 2px 4px 2px 4px;
  border: 1px solid #e00011;
  font-size: 14px;
  width: 260px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  vertical-align: middle;
  margin: 0px;
  border-right: 0px;
  background: none;
}

.logo .search .soso input:nth-child(2) {
  width: 42px;
  height: 38px;
  background: url(../img/spirit2.png) no-repeat -10px -18px #e00011;
  vertical-align: middle;
  color: #797979;
  margin: -5px;
  padding: 0px;
  border: 0px;
  cursor: pointer;
}

.logo .search .soso a {
  display: block;
  float: left;
  color: #f00;
  padding-right: 20px;
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 550;
}

.logo .search .soso a:hover {
  text-decoration: underline;
}

.menu {
  width: 100%;
  height: 60px;
  background: #bf040f;
}

.menu .menubar {
  width: 1120px;
  height: 60px;
  margin: 0 auto;
  padding-left: 20px;
}

.menu .menubar li {
  float: left;
  display: block;
  line-height: 60px;
  float: left;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
  padding: 0px 30px;
  background: url(../img/xian.png) right center no-repeat;
}

.menu .menubar li a {
  color: #fff;
}

.menu .menubar li a:hover {
  color: #fffb80;
  text-decoration: underline;
}

.menu .menubar li:nth-child(1) {
  background: url(../img/spirit2.png) -20px -52px no-repeat;
}

.bottom {
  width: 100%;
  background: #f4f4f4;
  padding-top: 50px;
}

.bottom .bottom-logo {
  width: 1120px;
  height: auto;
  margin: 0 auto;
}

.bottom .bottom-fuwu {
  margin-top: 50px;
  width: 100%;
  height: 80px;
  background: #dedede;
}

.bottom .bottom-fuwu ul {
  width: 960px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
}

.bottom .bottom-fuwu li {
  padding: 0 80px;
  float: left;
  height: 80px;
}

.bottom .bottom-fuwu li p {
  margin-top: -10px;
  font-size: 16px;
  color: #7a7575;
}

.bottom .bottom-fuwu li:nth-child(1) {
  background: url(../img/bottombg.png) no-repeat 0 -246px;
}

.bottom .bottom-fuwu li:nth-child(2) {
  background: url(../img/bottombg.png) no-repeat 0 0;
}

.bottom .bottom-fuwu li:nth-child(3) {
  background: url(../img/bottombg.png) no-repeat 0 -79px;
}

.bottom .bottom-help {
  padding-top: 40px;
  background: #fff;
}

.bottom .bottom-help .bottom-bar {
  width: 1120px;
  height: 180px;
  margin: 0 auto;
}

.bottom .bottom-help ul {
  width: 1120px;
  height: 180px;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.bottom .bottom-help li {
  padding: 0 2px;
  width: 186px;
  float: left;
}

.bottom .bottom-help li a {
  display: block;
  color: #666;
  font-size: 14px;
  padding-top: 10px;
}

.bottom .bottom-help li a:hover {
  text-decoration: underline;
}

.bottom .bottom-help li p {
  font-size: 14px;
  color: #666;
  margin: 0;
  padding-top: 10px;
}

.bottom .bottom-help .size {
  color: black;
  font-size: 16px;
}

.bottom .bottom-help li:last-child {
  width: 210px;
  height: 150px;
  border-left: 1px solid #dedede;
  margin-left: 28px;
  position: relative;
}

.bottom .bottom-help li:last-child div {
  position: absolute;
  width: 126px;
  height: 30px;
  padding-top: 124px;
  font-size: 14px;
  text-align: center;
  color: #000;
  background: url(../img/bottombg.png) -9px -416px no-repeat;
  left: 30px;
  top: 0px;
}

.bottom .bottom-help .bottom-feader {
  width: 1120px;
  height: 130px;
  margin: 0 auto;
}

.bottom .bottom-help .bottom-feader div {
  width: 518px;
  padding-left: 248px;
  padding-top: 30px;
  line-height: 18px;
  color: #333;
  margin: 0px auto;
  background: url(../img/bottombg.png) -8px -308px no-repeat;
}
