@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}





//头部开始 //

//顶部导航条开始//


.head {
    width: 100%;
    overflow: hidden;
}


.top {
    width: 100%;
    height: 34px;

    background: url(../img/top.jpg);

    .top-middle {
        width: 1260px;
        height: 34px;
        margin: 0 auto;

        .top-left {
            float: left;

            a {
                height: 34px;
                line-height: 34px;
                font-size: 12px;
                color: #666;
                text-decoration: none;

            }

            a:hover {
                color: black;
                text-decoration: underline;
            }
        }

        .top-right {
            float: right;

            a {
                height: 34px;
                line-height: 34px;
                font-size: 12px;
                color: #666;
                text-decoration: none;
                padding-right: 10px;
            }

            a:hover {
                color: red;
                text-decoration: underline;
            }

            a:nth-child(1),
            a:nth-child(2) {
                color: red;
            }

            a:last-child {
                padding-left: 20px;
                background: url(../img/spirit.png) -10px -76px no-repeat;
            }
        }

    }
}

//顶部导航条结束//


//logo开始//

.logo {
    width: 100%;
    height: 130px;
    background: url(../img/topbg.jpg) center no-repeat;

    .logbar {
        width: 1364px;
        height: 130px;
        margin: 0 auto;


        .dnflogo {
            margin-left: 100px;
            display: block;
            width: 258px;
            height: 130px;
            float: left;
            background: url(../img/dnflogo.png) no-repeat left center;

        }
    }


    .search {
        height: 46px;
        float: left;
        margin-left: 120px;
        margin-top: 38px;

        .soso {
            width: 322px;
            overflow: hidden;

            input:nth-child(1) {
                padding: 2px 4px 2px 4px;
                border: 1px solid #e00011;

                font-size: 14px;
                width: 260px;
                height: 32px;
                line-height: 32px;
                color: #fff;
                vertical-align: middle;
                margin: 0px;
                border-right: 0px;
                background: none;
            }

            input:nth-child(2) {
                width: 42px;
                height: 38px;

                background: url(../img/spirit2.png) no-repeat -10px -18px #e00011;
                vertical-align: middle;
                color: #797979;
                margin: -5px;
                padding: 0px;
                border: 0px;
                cursor: pointer;
            }

            a {
                display: block;
                float: left;
                color: #f00;
                padding-right: 20px;
                margin-top: 10px;
                font-size: 14px;
                text-decoration: none;
                font-weight: 550;

            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

//logo结束//


// 头部结束 //


//菜单开始//

.menu {
    width: 100%;
    height: 60px;
    background: #bf040f;

    .menubar {
        width: 1120px;
        height: 60px;
        margin: 0 auto;
        padding-left: 20px;

        li {
            float: left;
            display: block;
            line-height: 60px;
            float: left;
            font-size: 18px;
            color: #fff;
            font-weight: bolder;
            padding: 0px 30px;
            background: url(../img/xian.png) right center no-repeat;

            a {
                color: #fff;
            }

         

            a:hover {
                color: #fffb80;
                text-decoration: underline;
            }

        }

        li:nth-child(1) {
            background: url(../img/spirit2.png) -20px -52px no-repeat;
        }



    }
}

//菜单结束//




//         底部开始        //
.bottom {
    width: 100%;
    background: #f4f4f4;
padding-top: 50px;

    .bottom-logo {
        width: 1120px;
        height: auto;
        margin: 0 auto;
    }

    .bottom-fuwu {
        margin-top: 50px;
        width: 100%;
        height: 80px;
        background: #dedede;

        ul {
            width: 960px;
            height: 80px;
            margin: 0 auto;
            padding: 0;
        }

        li {
            padding: 0 80px;
            float: left;
            height: 80px;

            p {
                margin-top: -10px;
                font-size: 16px;
                color: rgb(122, 117, 117);
            }
        }

        li:nth-child(1) {
            background: url(../img/bottombg.png)no-repeat 0 -246px;
        }

        li:nth-child(2) {
            background: url(../img/bottombg.png)no-repeat 0 0;
        }

        li:nth-child(3) {
            background: url(../img/bottombg.png)no-repeat 0 -79px;
        }
    }

    .bottom-help {
        padding-top: 40px;
        background: #fff;

        .bottom-bar {
            width: 1120px;
            height: 180px;
            margin: 0 auto;
        }

        ul {
            width: 1120px;
            height: 180px;
            margin: 0 auto;
            padding: 0;
            border-bottom: 1px solid #ccc;
        }

        li {
            padding: 0 2px;
            width: 186px;
            float: left;

            a {
                display: block;
                color: #666;
                font-size: 14px;
                padding-top: 10px;

            }

            a:hover {
                text-decoration: underline;
            }

            p {
                font-size: 14px;
                color: #666;
                margin: 0;
                padding-top: 10px;
            }
        }

        .size {
            color: black;
            font-size: 16px;
        }

        li:last-child {
            width: 210px;
            height: 150px;
            border-left: 1px solid #dedede;
            margin-left: 28px;
            position: relative;

        }

        li:last-child div {
            position: absolute;
            width: 126px;
            height: 30px;
            padding-top: 124px;
            font-size: 14px;
            text-align: center;
            color: #000;
            background: url(../img/bottombg.png) -9px -416px no-repeat;
            left: 30px;
            top: 0px;
        }

        .bottom-feader {
        
            width: 1120px;
            height: 130px;
            margin: 0 auto;

            div {
                width: 518px;
                padding-left: 248px;
                padding-top: 30px;
                line-height: 18px;
                color: #333;
                margin: 0px auto;
                background: url(../img/bottombg.png) -8px -308px no-repeat;
            }
        }
    }

}




//         底部结束        //




